replicaCount: 1

image:
  repository: 373317459084.dkr.ecr.ap-northeast-3.amazonaws.com/myapp-repo
  tag: v30
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

nodeSelector: {}
tolerations: []
affinity: {}

# Optional ingress (uncomment if using Ingress)
# ingress:
#   enabled: true
#   className: nginx
#   annotations: {}
#   hosts:
#     - host: myapp.example.com
#       paths:
#         - path: /
#           pathType: Prefix
#   tls: []

